<nav class="navbar navbar-expand-sm navbar-light fixed-top">
  <div class="container">
    <%= link_to 'Healthy Search', root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <% if doctor_signed_in? %>
        <li class="nav-item"><%= link_to 'My profile', edit_doctor_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Log out', destroy_doctor_session_path, method: :delete, class: 'nav-link' %></li>
      <% elsif patient_signed_in? %>
        <li class="nav-item"><%= link_to 'My profile', edit_patient_registration_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Log out', destroy_patient_session_path, method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'Log in', login_page_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Registration', registration_page_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>
