<%= render 'shared/navbar_sticky' %>

<div class="page-intro">
  <div class="container">
    <div class="d-inline-block">
      <h1>Healthy Search</h1>
      <p>Find a trusted doctor to<br/>
        make your life healthy</p>
      <% if doctor_signed_in? || patient_signed_in? %>
        <%= link_to 'My profile', edit_doctor_registration_path, class: 'btn btn-outline-green' if current_doctor %>
        <%= link_to 'My profile', edit_patient_registration_path, class: 'btn btn-outline-green' if current_patient %>
        <%= link_to 'Log out', destroy_doctor_session_path, method: :delete, class: 'btn btn-outline-blue' if current_doctor %>
        <%= link_to 'Log out', destroy_patient_session_path, method: :delete, class: 'btn btn-outline-blue' if current_patient %>
      <% else %>
        <%= link_to 'Log in', login_page_path, class: 'btn btn-outline-green' %>
        <%= link_to 'Registration', registration_page_path, class: 'btn btn-outline-blue' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="benefits">
  <div class="container">
    <h2 class="text-center">Why Healthy Search is so cool?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae congue eu consequat ac felis donec. Purus viverra accumsan in nisl nisi scelerisque eu. Amet est placerat in egestas. Sagittis id consectetur purus ut faucibus pulvinar elementum. Posuere sollicitudin aliquam ultrices sagittis. Donec enim diam vulputate ut pharetra. Nisi vitae suscipit tellus mauris a diam maecenas sed. Amet cursus sit amet dictum sit amet justo. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Vitae sapien pellentesque habitant morbi tristique senectus. Morbi quis commodo odio aenean sed. Pharetra convallis posuere morbi leo urna molestie at elementum. Commodo viverra maecenas accumsan lacus. Vulputate ut pharetra sit amet. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Ullamcorper a lacus vestibulum sed arcu non odio.

Sodales ut eu sem integer vitae justo eget. Est ultricies integer quis auctor elit sed vulputate mi. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Suscipit tellus mauris a diam maecenas sed. Lobortis mattis aliquam faucibus purus in massa. Ipsum a arcu cursus vitae congue. Interdum velit euismod in pellentesque massa placerat duis ultricies. Quis eleifend quam adipiscing vitae proin. Neque aliquam vestibulum morbi blandit cursus risus. Enim sit amet venenatis urna. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Convallis a cras semper auctor neque vitae tempus quam. Tempus imperdiet nulla malesuada pellentesque elit. Nisl pretium fusce id velit ut tortor pretium viverra. Phasellus vestibulum lorem sed risus ultricies.

Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Eleifend quam adipiscing vitae proin sagittis nisl. Aliquam nulla facilisi cras fermentum odio eu feugiat. Nam libero justo laoreet sit amet cursus sit amet dictum. Malesuada fames ac turpis egestas maecenas pharetra. Tincidunt lobortis feugiat vivamus at augue eget. Sem integer vitae justo eget magna fermentum iaculis eu. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Feugiat vivamus at augue eget arcu dictum varius duis at. Magna eget est lorem ipsum dolor sit amet consectetur. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Nam at lectus urna duis convallis. Turpis massa tincidunt dui ut ornare lectus sit. Auctor elit sed vulputate mi. Urna nunc id cursus metus aliquam. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Faucibus interdum posuere lorem ipsum dolor sit.

Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Arcu felis bibendum ut tristique et egestas. Fermentum odio eu feugiat pretium nibh. Hendrerit dolor magna eget est lorem. Dolor purus non enim praesent. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Ligula ullamcorper malesuada proin libero. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Viverra maecenas accumsan lacus vel facilisis volutpat. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce.

Semper eget duis at tellus at urna. Sit amet venenatis urna cursus eget nunc. Est placerat in egestas erat imperdiet. Blandit libero volutpat sed cras ornare arcu dui. Vitae justo eget magna fermentum iaculis eu. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Tempor nec feugiat nisl pretium fusce id velit. Arcu risus quis varius quam quisque id diam. In metus vulputate eu scelerisque felis imperdiet. Sapien eget mi proin sed libero enim sed.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae congue eu consequat ac felis donec. Purus viverra accumsan in nisl nisi scelerisque eu. Amet est placerat in egestas. Sagittis id consectetur purus ut faucibus pulvinar elementum. Posuere sollicitudin aliquam ultrices sagittis. Donec enim diam vulputate ut pharetra. Nisi vitae suscipit tellus mauris a diam maecenas sed. Amet cursus sit amet dictum sit amet justo. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam. Arcu bibendum at varius vel pharetra vel turpis nunc eget. Vitae sapien pellentesque habitant morbi tristique senectus. Morbi quis commodo odio aenean sed. Pharetra convallis posuere morbi leo urna molestie at elementum. Commodo viverra maecenas accumsan lacus. Vulputate ut pharetra sit amet. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Ullamcorper a lacus vestibulum sed arcu non odio.

Sodales ut eu sem integer vitae justo eget. Est ultricies integer quis auctor elit sed vulputate mi. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Suscipit tellus mauris a diam maecenas sed. Lobortis mattis aliquam faucibus purus in massa. Ipsum a arcu cursus vitae congue. Interdum velit euismod in pellentesque massa placerat duis ultricies. Quis eleifend quam adipiscing vitae proin. Neque aliquam vestibulum morbi blandit cursus risus. Enim sit amet venenatis urna. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Convallis a cras semper auctor neque vitae tempus quam. Tempus imperdiet nulla malesuada pellentesque elit. Nisl pretium fusce id velit ut tortor pretium viverra. Phasellus vestibulum lorem sed risus ultricies.

Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt. Eleifend quam adipiscing vitae proin sagittis nisl. Aliquam nulla facilisi cras fermentum odio eu feugiat. Nam libero justo laoreet sit amet cursus sit amet dictum. Malesuada fames ac turpis egestas maecenas pharetra. Tincidunt lobortis feugiat vivamus at augue eget. Sem integer vitae justo eget magna fermentum iaculis eu. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Feugiat vivamus at augue eget arcu dictum varius duis at. Magna eget est lorem ipsum dolor sit amet consectetur. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Nam at lectus urna duis convallis. Turpis massa tincidunt dui ut ornare lectus sit. Auctor elit sed vulputate mi. Urna nunc id cursus metus aliquam. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Faucibus interdum posuere lorem ipsum dolor sit.

Vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor. Arcu felis bibendum ut tristique et egestas. Fermentum odio eu feugiat pretium nibh. Hendrerit dolor magna eget est lorem. Dolor purus non enim praesent. Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Ligula ullamcorper malesuada proin libero. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan. Viverra maecenas accumsan lacus vel facilisis volutpat. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce.

Semper eget duis at tellus at urna. Sit amet venenatis urna cursus eget nunc. Est placerat in egestas erat imperdiet. Blandit libero volutpat sed cras ornare arcu dui. Vitae justo eget magna fermentum iaculis eu. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Tempor nec feugiat nisl pretium fusce id velit. Arcu risus quis varius quam quisque id diam. In metus vulputate eu scelerisque felis imperdiet. Sapien eget mi proin sed libero enim sed.</p>
  </div>
</div>
