<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= render 'profile_settings' %>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">Biography</div>
        <div class="card-body">
          <div class="container">
            <%= form_for @doctor do |f| %>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.select :experience, [['0 - 5 years', '0 - 5 years'], ['5 - 10 years', '5 - 10 years'],
                                              ['10 - 15 years', '10 - 15 years'], ['15+ years', '15+ years']],
                                              id: :experience, prompt: 'Experience (years)',
                                              class: 'form-control' %>
                </div>

                <div class="col-md-8">
                  <%= f.text_area :bio, placeholder: 'Your story, what you can do, experience', class: 'form-control' %>
                </div>          
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <div class="card text-center">
                    <div class="card-body">
                      <h5 class="card-title">Choose your specialization (or specializations)</h5>
                      <p class="card-text">Your can choose one or few specializations.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="actions">
                <%= f.submit 'Update', class: 'btn btn-normal btn-block' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
