<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'doctors/profile_menu' %>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header text-center">Profile photo</div>
        <div class="card-body">
          <div class="row container">

            <div class="col-md-4">
              <%= form_for @doctor, html: { method: :put, multipart: true } do |f| %>
                <div class="form-group">
                  <%= f.label :avatar do %>
                    <%= f.file_field :avatar %>
                    <%= f.hidden_field :avatar_cache %>
                  <% end %>

                  <% if current_doctor.avatar.url.present? %>
                    <%= image_tag current_doctor.avatar.url, class: 'card-img-top' %>
                    <%= f.label :remove_avatar do %>
                      <%= f.check_box :remove_avatar %>
                      remove
                    <% end %>
                  <% end %>

                  <%= f.submit 'Update', class: 'btn btn-normal btn-block' %>
                </div>
              <% end %>
            </div>

            <div class="col-md-8">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
