<!DOCTYPE html>
<html>
  <head>
    <title>HealthySearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </body>
</html>
