<!DOCTYPE html>
<html>
  <head>
    <title>Healthy Search</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if doctor_signed_in? || patient_signed_in? %>
      <%= render 'shared/navbar_login' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>    

    <div class="container">
      <%= yield %>
    </div>    

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
